body {
    padding-top: 5rem;
}

.imageView {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 200px;
    grid-row-gap: 3px
}

img{
    width:75%;
    height: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}